<h1>Add a new Game!</h1>

<%= form_for @game do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :Boxart %>
        <%= f.text_field :image_url %>
    </div>

    <%= f.submit "Add new Game!", class: "btn btn-info" %>

<% end %>

<%= link_to "Back to the list!", games_path, class: "btn btn-default" %>
