<h1> <%= @game.title %> </h1>

<p><%= @game.title %></p>

<%= link_to "Edit this game.", edit_game_path(@game) %>
<%= link_to "Delete this game!", :game, method: :delete, data: { confirm: "Are you sure you want to delete this game?"} %>

<%= link_to "Back to the list!", games_path %>
