<h1>GAMETIME</h1>
<h2>Upcoming Playtimes</h2>

<ul>
  <% @playtimes.each do |playtime| %>
    <li>
      <strong> <%= playtime.game.title %> </strong> - <%= playtime.time.strftime("%a %b %e %l:%M %P") %>
      <%= link_to "Info", playtime_path(playtime) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create Playtime', new_playtime_path %>
<br>
<%= link_to "List of Games", games_path %>
